
.grid-x.grid-padding-x.align-center
  .large-10.large-offset-1.medium-12.cell.float-right
    %img.float-right{:src => asset_path("3px_ut_76_remembrance_draft_header.jpg"), "width" => '800px'}
.grid-x.grid-padding-x
  .large-10.large-offset-1.medium-12.cell
    %h1 
      = t('simple_form.form_intro.title')
%hr      
.grid-x.grid-padding-x
  .large-10.large-offset-1.medium-12.cell
    - [{name: 'english', code: 'en'}, {name: 'deutsch', code: 'de'}, {name: 'francais', code: 'fr'}, {name: 'italiano', code: 'it', }, {name: 'nederlands', code: 'nl'}, {name: 'polski', code: 'pl'}].each do |language|
      = link_to language[:name], current_page_params.merge(layer_id: params[:layer_id],place_id: params[:place_id], locale: language[:code])
.grid-x.grid-padding-x
  .large-10.large-offset-1.medium-12.cell
    = simple_format(t('simple_form.form_intro.text'))
%hr