%h1 
  != t('simple_form.form_intro.title')
%hr
%p
  Pardon, das Einreichungsformular ist zur Zeit nicht erreichbar.
%p
  = link_to "https://submissions.stiftung-lager-sandbostel.de/" do
    = t('simple_form.form.restart')
    

%p
  = link_to "https://www.stiftung-lager-sandbostel.de/" do
    Gedenkstätte Lager Sandbostel
