#form-wrapper.large-wrapper
  = render 'form_head'
  .grid-x.grid-padding-x
    .large-10.large-offset-1.medium-12.cell
      %h1 
        t('simple_form.form_finished.title')
      %h2
        t('simple_form.form_finished.subtitle')
  .grid-x.grid-padding-x
    .large-10.large-offset-1.medium-12.cell
  .grid-x.grid-padding-x
    .large-6.large-offset-3.medium-12.cell
      = render partial: 'form_preview', locals: { :index => -1 }